@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <body>

        <div class="text-center">
            <h1>About Taranvir Rulers Limited:</h1>

        </div>


        <div>
            <h2 class="text-center">
                Our Headquarter
            </h2><br />
            <img src="../imgage/Locations.jpg" alt="Locations" width="1000" height="500" />
        </div>
        <br />
        <div>
            <h3 class="text-center">
                CEO:Taranvir Singh Atwal
            </h3>

            <br />

        </div>
        <div class="text-center">
            <h2> Our Major Locations</h2>

            <ul class="list-unstyled">
                <li>Windsor Canada</li>
                <li>USA(United State Of America)</li>
                <li>New Zeland</li>
                <li>United Kingdom</li>
                <li>China</li>
                <li>London</li>
                <li>India</li>
            </ul>
        </div>
            <div class="container" id="about">
                <div class="row">
                    <div class="col-sm-11">
                        <h5>

                            Taran Rulers is the One of the largest multi-brand companies in the world, Rulers Company is a pioneer in the denim industry.
                            It is possible to distribute numerous brands under one roof thanks to multi-brand retail.
                            In the year 2015,<strong>Taranvir Singh Atwal(CEO)</strong>started their company with 9 team members at Windsor but now
                            with the quality of product Taran Rulers Set their 23 quarters in diffrent countries like <strong>USA, CANADA, ITALY, FRANCE, INDIA,</strong> and so on.
                            The number of full-time employees is over 100.
                            The Main Office is in Windsor, Canada, in the province of Ontario.
                        </h5>
                    </div>

                </div>


                <div class="">
                    <h2>Our Mission:</h2>
                    <p class=" h-100 text-dark">
                        Our fabulous Rulers are the ultimate Height Chart for all the family. Each one is cut from top quality environmentally friendly Redwood Pine, then chamfered and stained to look just like your original old school ruler. The measurements include feet and inches on one side and centimeters on the other, just like they were at school only this ruler goes up to 6'6"! Because each Ruler is made by hand, no two rulers will ever be the same, and as wood is a natural product yours may have knots, small scratches or minor dents. These are natural imperfections and add character to your ruler. Wood naturally gives off moisture and it’s a fact that timber will move with whatever is going on around it. For this reason we recommend hanging your Ruler as soon as you receive it, which will help it settle into its environment & prevent the woods twisting.



                        No more recording your family’s heights on the wall, then wondering what to do when you move or need to redecorate. Take your Ruler Height Chart with you through life and it will become the heirloom everyone wants to inherit!


                        As an alternative to the Original wooden Ruler Height Chart, you can also choose from one of our painted rulers, from the gorgeous range of Farrow & Ball colours. If you’d like yours personalised, go for the Bespoke Ruler.



                        Unlike some Ruler Height Charts, ours start from the floor, guaranteeing you’ll always have your measurement exactly right. Don’t worry about small skirting boards, the length of the ruler dispels the gap between wood and wall, and after all it is a Real Ruler and not a part of a Ruler!



                        They make wonderful gifts, Wedding, Christening, Birthday, Christmas, or just because you love it.
                    </p>
                </div>

                <div class="col-sm-12">
                    <h2 class="text-center">
                        Our major products
                    </h2><br />
                    <img src="../imgage/Ruler6Webp.webp" alt="Ruler" width="310" height="240">

                    <img src="../imgage/Ruler8.jpg" alt="Ruler" width="310" height="240">
                    <img src="../imgage/Ruler9.jpg" alt="Ruler" width="310" height="240">
                </div>
                <br />
                <div class="col-sm-12">
                    <img src="../imgage/Ruler10.jpg" alt="Ruler" width="310" height="240">
                    <img src="../imgage/Deskruler.jpg" alt="Ruler" width="310" height="240">
                    <img src="../imgage/Ruler5.jpg" alt="Ruler" width="310" height="240">
                </div>

            </div>


            <style>
                img {
                    padding-left: 100px;
                }

                #Circular Ruler {
                    float: right;
                    padding-left: 300px;
                }

                h1 {
                    color: black;
                    font-family: 'Sans Serif';
                }

                h5 {
                    color: red;
                    font-family: cursive;
                }

                h2 {
                    color: red;
                    font-family: cursive;
                }

                p {
                    color: cornflowerblue;
                    font-family: cursive;
                    font-size: medium;
                }
            </style>
    </body>
}
