@{
    ViewData["Title"] = "Home Page";
}



<body class="bg-primary">
    <div class="container" id="about">

        <div class="text-center">
            <h1>Welcome to Taran Rulers</h1><br />
            <img src="../imgage/Ruler1.jpg" alt="Pants" width="1000" height="500">
        </div>
        <br />

        <div class="text-center">
            <h2> Our Best Brands</h2>

            <ul class="list-unstyled">
                <li>Three-sided Ruler</li>
                <li>Circular Ruler</li>
                <li>Steel Ruler</li>
                <li>Desk Ruler</li>
            </ul>
            <div class="col-sm-12 text-warning">

                <img src="../imgage/Ruler3.jpg" alt="Pants" width="400" height="240">
                <h3>Three-Sided Ruler</h3>
                <img src="../imgage/Rulers6.jpg" alt="Pants" width="400" height="240" /> <h3>Circular Ruler</h3>
                <img src="../imgage/Ruler4.jpg" alt="Pants" width="400" height="240"><h3>Steel Ruler</h3>
            </div><br />

            <div class="text-danger">
                <img src="../imgage/Deskruler.jpg" alt="Pants" width="400" height="240"><h3>Desk Ruler</h3>
            </div>
        </div>
        <br />

        <div class="row text-center">
            <div class="col-sm-11">
                <h5 class="text-white">

                    Taran Rulers is the One of the largest multi-ruler brand company all over the word the world, Ruler is the one of the meaurement tool which is used in the all field such
                    as Schools, univeristies,Architect Companies and so on.
                    It is possible to distribute numerous brands under one roof thanks to multi-brand ruler retail.So our company team working on
                    new styles Rulers for their customers in upcoming time.

                </h5>

            </div>
            <br />

            <div class="col-sm-12">
                <h2 class="text-center">
                    Our Upcoming  Rulers Brands
                </h2><br />
                <img src="../imgage/Ruler6Webp.webp" alt="Pants" width="310" height="240">
                <img src="../imgage/Ruler2.jpg" alt="Pants" width="310" height="240">
                <img src="../imgage/Ruler5.jpg" alt="Pants" width="310" height="240">
            </div>


        </div>
    </div>


    <style>
        body{
            font-family:cursive;
        }
        h1{
            color:brown;
        }
       
    </style>
</body>


